h3{
    font-weight: bold;
    font-style: san-serif;
    position: static;
}
.nav{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: fixed;
    width: 100vw;
    top:0;
    z-index: 99;
    background-color: #fff;
}

.cart-circle{
    width: 20px;
    height: 20px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 1rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cart-container{
    cursor: pointer;
}
.modal-backdrop{
    
    z-index: -1;
}